.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: top;
  flex-wrap: wrap;
}

.columns .logs {
  font-size: calc(4px + 1vmin);
  text-align: left;
}
